* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
  }
  
  body {
    background-color: #DDDDDD;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  nav {
    background-color: #05422c;
    height: 100px;
  }
  
  .ajuste-img-logo {
    height: 5px;
    margin-left: -240px;
  }
  
  .ajuste-letra-menu{
    display: flex;
    justify-content: space-evenly;
  }
  
  a {
    text-decoration: none;
    color: #f0f8ff;
    margin-top: 2%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
  }
  
  .img-logo{
  margin-top: -6%;
  }
  
  .img-planeta-menu{
    text-align: center;
  }
  h1{
    text-align: center;
    font-size: 30px;
  }
 
.paragrafros{
  border: solid green;
  border-radius: 20%;
  padding: 10%;
  margin: 2%;
  font-size: 18px;
}

.imagens1{
  text-align: right;
}
footer {
  background-color: #05422c;
  padding: 40px 0;
  color: #f0f8ff;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 18px;
  align-items: center;
}

.footer-links a {
  margin: 0 10px;
  color: #f0f8ff;
  text-decoration: none;
  font-size: 18px;
  margin-right: 20px
}
.footer-links a:not(:last-child) {
    margin-right: 200px;}

.footer-creators p {
      margin-bottom: 10px;
      font-size: 18px;
    }
    
.footer-creators span {
      font-weight: bold;
      font-size: 18px;
      display: flex;
      justify-content:space-around;
    }
.footer-bottom {
  margin-top: 10px;
}
