* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

body {
  background-color: #DDDDDD;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: #05422c;
  height: 100px;
}

.ajuste-img-logo {
  height: 5px;
  margin-left: -240px;
}

.ajuste-letra-menu{
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: #f0f8ff;
  margin-top: 2%;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10%;
}

.img-logo{
margin-top: -4%;
}

.img-planeta-menu{
  text-align: center;
}


footer {
  background-color: #05422c;
  padding: 40px 0;
  color: #f0f8ff;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 18px;
  align-items: center;
}

.footer-links a {
  margin: 0 10px;
  color: #f0f8ff;
  text-decoration: none;
  font-size: 18px;
  margin-right: 20px
}
.footer-links a:not(:last-child) {
    margin-right: 200px;}

.footer-creators p {
      margin-bottom: 10px;
      font-size: 18px;
    }
    
.footer-creators span {
      font-weight: bold;
      font-size: 18px;
      display: flex;
      justify-content:space-around;
    }
.footer-bottom {
  margin-top: 10px;
}
.Titulo {
  text-align: center;
  color: #09501b;
  font-size: 28px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.ajuste-letra-texto {
  font-size: 17px;
  color: #DDDDDD;
  margin-right: 60%;
  margin-left: 80px;
  padding-right: 20px;
  
}
.section{
  display: flex;
  flex-direction:row;
}
.image {
  align-items: center;
  margin-bottom: 20px;
  border: 5px outset #171a19;
  width:fit-content;
  margin-left: 80px;
  height: fit-content;
  
}
.image img {
  width: 550px;
  height: 300px;
}
main {
  background-image: url(../img/cropped-1920-1080-427274.jpg);
  background-size: cover;
  
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 810px;
  padding: 20px;
  background-color: #ffffff;
  border: 2px solid #05422c;
  margin-top: 50px;
}

.form-row {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

#mensagem {
  height: 150px;
  width: 400px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  border: 1px solid #09501b;
}

.form-row-left {
  display: flex;
  justify-content: flex-start;
}

.form-row-center {
  display: flex;
  justify-content: center;
}

#assunto {
  margin-top: 10px;
  margin-bottom: 10px;
}


.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-row-center {
  justify-content: center;
}

label {
  width: 120px;
  text-align: right;
  margin-right: 10px;
}

input,
select,
textarea {
  width: 200px;
}

.checkbox-container {
  margin-top: 10px;
  margin-bottom: 20px;
}

.submit-button {
  width: 150px;
  height: 30px;
  border: 2px solid #04240c;
  border-radius: 4px;
}

.select-outline {
  outline: 2px solid #04240c;
  padding: 5px;
}